[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djangorestframework="==3.11.1"
urllib3="==1.19"

[dev-packages]
pytest = "==5.2"
PyYAML = "==5.3.1"

[requires]
python_version = "3.9"
